SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,api

# Database
DB_NAME=notedrop_db
DB_USER=notedrop_user
DB_PASSWORD=notedrop_password
DB_HOST=db
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Django Superuser (criado automaticamente)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@notedrop.com
DJANGO_SUPERUSER_PASSWORD=admin123



